---
layout: none
title: Sorrento Dental Clinic
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

	<link rel="stylesheet" href= "{{ site.github.url }}/css/styles.css">
  <link rel="stylesheet" href= "{{ site.github.url }}/css/baguetteBox.min.css">
  

  <script src="{{ site.github.url }}/scripts/baguetteBox.min.js"></script>
  <script src="{{ site.github.url }}/scripts/jquery-and-bigfoot.js"></script>
  <script src="{{ site.github.url }}/scripts/main.js"></script>

	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.github.url | prepend: site.url }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.github.url | prepend: site.url }}">
	{% seo %}
</head>

<body class="h-feed">

	

	<div id="wrapper">
		<main role="main">
      <div id="main">
        {% include hcard.html %}
        
        <div class="posts_category">
          <div class="post_category_title">Practice Information</div>
          <div class="posts">
            {% for post in paginator.posts %}
              <a class= "post_header" href="{{ site.baseurl }}{{ post.url }}">
                <div class= "post_title">
                  {{ post.title }}
                </div>
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
		</main>
	</div>
</body>

</html>
